/* -----------------------------------------------------
 * Emojis
 * ----------------------------------------------------- */

.emojis {
    background-color: @background;
}

.emojis .emoji_category {
    font-weight: 300;
    min-height: 35px;
    min-width: 35px;
    padding: 0px;
}

.emojis .emoji_category:active {
    background-color: mix(@onSurfaceVariant, transparent, 0.8);
}

.emojis .emoji_category.active {
    background-color: @secondaryContainer;
    background-image: radial-gradient(circle, @secondaryContainer 10%, transparent 0%);
    color: @onSecondaryContainer;
}

.emojis .emoji_category.active .icon {
    color: @onSecondaryContainer;
}

.emojis .top_bar {
    background: @surfaceContainer;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.emojis scrollbar {
    opacity: 0;
}

.emojis scrollbar:hover {
    opacity: 0.1;
}

.emojis .emoji {
    min-height: 35px;
    min-width: 35px;
    padding: 0px;
}

.emojis .emoji:active {
    background-color: mix(@onSurfaceVariant, transparent, 0.8);
    background-image: radial-gradient(circle, @secondaryContainer 10%, transparent 0%);
}

.emojis .emoji label {
    font-size: 20px;
}

.emojis .title {
    padding-left: 16px;
    color: @onSurfaceVariant;
    margin-top: 3px;
}

.emojis button:focus {
    background-color: transparent;
}
