/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

.workspaces {
    border-radius: 16px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @onSurface;
    background: @surfaceContainer;
    padding-left: 4px;
    padding-right: 4px;
}

.workspaces * {
    transition: all 0.35s ease-in-out;
}

.workspaces button {
    padding: 0px 5px;
    margin: 4px 0px;
    margin-right: 3px;
    border-radius: 16px;
    border: 0px;
}

.workspaces button:last-child {
    margin-right: 0px;
}

.workspaces button label {
    color: @onSurface;
    font-weight: bold;
}

.workspaces button:hover {
    color: @onSurface;
    background-color: mix(@onSurface, @surface, 0.85);
}

.workspaces button:not(.exists) label {
    color: @onSurfaceVariant;
    opacity: 0.6;
}

.workspaces button.active {
    background: @secondaryContainer;
}

.workspaces button.active label {
    color: @onSecondaryContainer;
}